<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Use the title from a pages frontmatter if it has one -->
    <title><%= current_page.data.title || "Bachelor" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
  <header>
   <div class="logo">
        <a href="../"> <img src="/images/logo2.svg" alt="Logoen til OpenUI"></a>
    </div>

  <nav>
   <ul>
         <li><a href="../guides">Guides</a> </li>
         <li><a href="../autochecks">Auto checks</a> </li>
       </ul>
  </nav>
  </header>
    <%=partial(:breadcrumbs) %>
    <%= yield %>

  <footer>
      <div class="footer">
          <div class="wcag"
             <h4> More in dept explanation of WCAG </h4>

             <li> <%= link_to 'How to meet WCAG (English)', 'https://www.w3.org/WAI/standards-guidelines/wcag/' %>

             <li> <%= link_to 'UUtilsynet.no (Norwegian)', 'https://www.uutilsynet.no/' %>
          </div>

          <div class="about">
             <h4>Additional info </h4>
             <p>UIcons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>

          </div>
      </div>
  </footer>

  </body>
</html>


